@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f0f4f8;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

button:hover {
  background-color: #0056b3;
}

.container {
  width: 500px;    /* Set a fixed width for the container */
  margin: 0 auto;  /* Center the container horizontally */
  padding: 20px;   /* Add some padding around the container */
}

.card {
  background: white;           /* White background for the cards */
  padding: 30px;               /* Padding inside the cards */
  border: 1px solid lightgrey; /* Light grey border */
  border-radius: 8px;          /* Subtle rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px;         /* Space between the cards */
}

.card-title {
  font-size: 1.5rem;  /* Adjusted from 1.5em for consistency */
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1rem;  /* Adjusted from 1em for consistency */
  color: #666;
}

/* Responsive design */
@media (max-width: 960px) {
  .container {
      width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
      width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
      width: 300px;
  }
}

@media (max-width: 400px) {
  .container {
      width: 100%;
      padding: 10px;
  }

  .card img {
      width: 100%;
      height: auto;
  }

  .card {
      padding: 20px;
  }
}

.rounded-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-links {
  margin-top: 10px;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  color: #007BFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-links li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.social-links li a i {
  margin-right: 5px;
  font-size: 1.2em;
}
